body, html {
    height: 100vh;
    width: 100vw;
    display: flex;
    margin: 0;
    padding: 0;
    background: #08313A;
    flex-direction: column;
}

#calcbody {
    align-self: center;
    justify-self: center;
    display: flex;
    text-align: center;
    width: 50vh;
    height: 70%;
    background-color: #5CD85A;
    margin-top: 10vh;
    flex-direction: column;
    border-radius: 2vh;
    box-shadow: -1vh 1vh 10vw #1A6A19;
    border: 2px solid black;
}

#tophead,h1 {
    font-size: 2vh;
    color:  #f9f6f4;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
    text-align: left;
    padding-left: 0.3vh;
    text-shadow: 1px 1px black;
}

#subhead {
    font-size: 1vh;
    text-align: left;
    padding-left: 0.4vh;
    margin: 0;

}

#calctitle {
   margin:0;
   display: flex;
   flex-direction: column;
}

#display {
    width: 46vh;
    background-color: darksalmon;
    border: 1px solid black;
    height: 10vh;
    align-self: center;
    display: flex;
    flex-direction: column;
}
#buttonbox {
    width: 49vh;
    height: 60vh;
    align-self: center;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    margin: 5vh;
    margin-top: 1vh;
}

.calcbutton,
.eqbutton {
    display: inline;
    background-color: green;
    flex-grow: 1;
    border: 0.5px solid darkgreen;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0.2vh;
    border-radius: 4vh;
    display: flex;
}
.calcbutton:hover,
.eqbutton:hover {
    background-color: lightgreen;
    transform: scale(0.95);
    box-shadow: 0 0 2vh black;
}

.eleven {
    height: 10vh;
}

#row {
    width: 100%;
    flex-grow: 1;
    display: inline-flex;
}

#buttontext {
    margin: 0;
    padding: 0;
    font-size: 3vh;
    text-shadow: 1px 1px black;
    color: white;
    font-weight: bolder;
}

#mathdisplay {
font-size: 2.5vh;
width: 97%;
text-align: end;
margin-left: 1%;
height: 4vh;
}

#inputdisplay {
    font-size: 3.5vh;
    width: 97%;
text-align: end;
margin-left: 1%;
font-weight: bolder;

}

h2 {
    margin-left: 0.5vh;
    margin-top: 0;
}

#footer {
    display: flex;
    margin-top: 7vh;
    align-self: center;
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px black;
}


.pinky {
    align-self: center;
    justify-self: center;
    display: flex;
    text-align: center;
    width: 50vh;
    height: 70%;
    background-color: pink;
    margin-top: 10vh;
    flex-direction: column;
    border-radius: 2vh;
    box-shadow: -1vh 1vh 10vw #1A6A19;
    border: 2px solid black;
}