body, html {
    height: 100vh;
    width: 100vw;
    display: flex;
    margin: 0;
    padding: 0;
    background: #08313A;
    flex-direction: column;
}

#calcbody {
    align-self: center;
    justify-self: center;
    display: flex;
    text-align: center;
    width: 50vh;
    height: 70%;
    background-color: green;
    margin-top: 10vh;
}